body{
    margin: 0;
    box-sizing: border-box;
    background-image: url("background.jpg");
    /* background: conic-gradient(rgb(43, 231, 200), #096d92); */
}
.logo{
    width: 15vh;
    height: 15vh;
    position: absolute;
    transform: translate(79%,200%);
}
.header{
    width: 100%;
    background: conic-gradient(#242527, #04221f);
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 1vh;
    display: none;
    height: 8vh;
    border-radius: 1vh;
    animation-name: my_modal;
    animation-duration: 2s;
}
#btn_corbeille{
    float: right;
    position: absolute;
    left: 93.5%;
}
#btn_reset{
    float: right;
}
#btn_reset:hover,#btn_corbeille:hover{
    background-color: darkgray;
}
#corbeille{
    display: none;
    float: right;
    margin: 0 1vh 1vh 1vh;
    width: 45vh;
    height: 75vh;
    text-align: center;
    animation-name: my_modal;
    animation-duration: 2s;
    border-radius: 1vh;
    animation-name: corb;
    animation-duration: 0.5s;
    background: linear-gradient(0.25turn, #000a2b, #f8f9fc, #6d0e02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    overflow-x: auto;
    overflow-y: auto;
}
.header.is_visible{
    display: block;
}
#corbeille.is_visible{
    display: block;
}
#newcol{
    margin-bottom: 1vh;
}
#newcol:hover{
    background-color: rgb(206, 201, 201);
}
#newnode:hover{
    background-color: rgb(206, 201, 201);
}
.btn_add,#btn_corbeille,#btn_reset{
    border-left: 0.75vh solid black;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    border-bottom-left-radius: 1vh;
    margin-left: 1vh;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}
#div_col{
    margin-right: 1vh;
    border-radius: 1vh;
    position: relative;
    width: 19.5%;
    animation-name: my_modal;
    animation-duration: 1s;
}
#mesnot{
    height: 70vh;
    margin-right: 1vh;
    width: 100%;
    box-sizing: content-box;
    animation-name: my_modal;
    animation-duration: 2s;
    overflow-x: auto;
    overflow-y: auto;
}
.supprcol{
    position: absolute;
    top: 96%;
    left: 93%;
    width: 2vh;
    height: 2vh;
}

.supprtach{
    position: absolute;
    text-align: end;
}
.inputs{
    width: 100%;
    margin-right: 1vh;
    display: inline-block;
    justify-content: center;
    text-align: center;
    background-color: rgba(139, 170, 139, 0.611);
    font-size: 2.5vh;
    font-family: Georgia, serif;
    font-weight: bold;
    box-sizing: border-box;
}
#container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 1vh;
    animation-name: my_modal;
    animation-duration: 3s;
    background: linear-gradient(135deg, rgb(2, 95, 75) 60%, rgb(2, 14, 53));
}
#colonne{
    display: flex;
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 1vh;
    animation-name: my_modal;
    animation-duration: 3s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
#contain_tache{
    margin-right: 1vh;
    margin-bottom: 0.5vh;
    width: 98.9%;
    box-sizing: content-box;
    display: flex;
}
#previus,#next{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    cursor: pointer;
    size: 1vh;
    font-weight: bold;
}
#tache_content{
    width: 32vh;
    border: 0.5vh dotted rgb(5, 0, 0) ;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.75vh;
    flex-direction: column;
    margin-right: 1vh;
    overflow-x: auto;
    overflow-y: auto;
    height: auto;
}
#tache_content p{
    margin: 0;
    padding: 0;
    font-size: smaller;
}
.restaur_tach{
    width: 7vh;
    height: 7vh;
    position: absolute;
}
#modal_contain{
    background-color: rgba(5, 1, 61, 0.5); 
    display: none; 
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.modal{
    width: 53vh;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    animation-name: my_modal;
    animation-duration: 3s;
}
#menu{
    width: 5vh;
    height: 5vh;
    margin: 2vh;
    border-radius: 50%;
    border: 1vh solid white;
}
@keyframes my_modal{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes corb{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.header_modal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1vh;
    background-color: rgb(2, 59, 61);
    width: 100%;
}
#pb{
    margin-bottom: 1vh;
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
}
#ph{
    font-size: 2.5vh;
    margin-left: 2vh;
    display: flex;
    justify-content: center;
}
.divdata{
    width: 10vh;
    height: 10vh;
    border: 2px solid black;
}
#close{
    display: flex;
    font-size: 5vh;
    flex: 2;
    justify-content: flex-end;
    margin-right: 1vh;
    margin-left: 7vh;
    font-weight: bold;
    color: red;
    cursor: pointer;
}
.modal_body{
    padding-left: 2vh;
    padding-right: 2vh;
    width: 53.5vh;
    height: 30em;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    background: linear-gradient(0.25turn, #525f64, #ebf8e1, #21c9c9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#input_d,#input_hd,#input_hf{
    width: 99%;
    height: 5vh;
    border-radius: 1vh;
}
#tarea{
    min-width: 95%;
    max-width: 100%;
    min-height: 25%;
    max-height: 25%;
    border-radius: 1vh;
}
#tarea:hover,#input_d:hover,#input_hd:hover,#input_hf:hover{
    transform:scale(1.08);
    background: linear-gradient(0.25turn, rgb(172, 172, 169), rgb(155, 148, 148), #86888d);
}
p,#btn_f{
    color: rgb(12, 0, 0);
    font-weight: bold;
    font-size: 2vh;
}
#btn_f{
    width: 100%;
    height: 5vh;
    background-color: rgb(2, 59, 61);
}
.footer_modal{
    background-color: rgb(2, 59, 61);
    display: flex;
    height: 5vh;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#ajout_note{
    cursor: pointer;
}